.navbar-container {
  width: 90%;
  padding: 0 2.5rem;
  margin: 2rem auto;
  background-color: #fff;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar > .logo {
  width: 25%;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.nav-link {
  width: 75%;
  gap: 3rem;
  display: flex;
  align-items: center;
}

.nav-link > li {
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  list-style: none;
  color: #121212;
}

li :-webkit-any-link {
  text-decoration: none;
}

.nav-link > li:nth-child(2) {
  opacity: 0.5;
}

.nav-link > li:last-child {
  margin-left: auto;
}
